.form-control, .form-select{
    border: none;
    border-radius: 0;
    border-bottom: solid 1px;
    font-weight: 600;
}
#confirmCarWashButton{
    padding: 12px 0;
}

#cancleButton{
    padding: 12px 0;
}

.form-control:disabled, .form-control[disabled] {
    background-color: white; 
}

