body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#dashboardTop{
    height: 16vh;
}

#newWashRecordButton {
    font-size: 16px;
    background: var(--bg-primary);
}

#newWashRecord{
    height: 45%;
}

#newWashRecordButton:hover {
    background-color: #f0f0f0; 
}

#historyTitleContainer{
    height: 6vh;
}

#dashboardDateDisplayContainer{
    border-radius: 20px;
    background-color: var(--bg-primary);
}

#pills-tab{
    height: 5vh;
}

#pills-tab .active{
    background-color: var(--bg-primary);
}

.washHistoryContainer{
    height: 73vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 15px;
    overflow-y: auto;
}

.washHistoryRecord{
    width: 100%;
    min-height: 150px;
    border: 1.5px solid;
    border-radius: 4px;
}
